nav {
    background-color: skyblue;
    padding: 10px;
  }
  nav img {
    width: 75px;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
      display: inline-block;
      padding: 12px;
  }
  li a {
      color: white;
      text-decoration: none;
      cursor: pointer;
  }